/* styles/Header.module.css */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
    border-bottom: 2px solid var(--primary-color);
  }
  
  .logoContainer {
    display: flex;
    align-items: center;
    gap: 20px;
  }
  
  .logo {
    font-size: 24px;
    font-weight: bold;
  }
  
  .assets {
    font-weight: bold;
  }
  
  .navList {
    list-style-type: none;
    padding: 0;
    display: flex;
    gap: 20px;
  }
  
  .navList a {
    color: var(--text-color);
    text-decoration: none;
    font-weight: 500;
  }